bin/
obj/
**/bin/
**/obj/

.vs/
packages/
_ReSharper.Caches/
riderModule.iml
.dotnet-home/
.idea/
/Client/Client.csproj.DotSettings

*.user
*.userosscache
*.suo
*.cache
*.dbmdl

# Release build artifacts
publish/
installer/Output/
Messenger-*-win-x64.zip